<h1>show</h1>

<!--
<%= @article %><br>
<%= @article.title %><br>
<%= @article.text %><br>
-->

<p>
  <strong>title:</strong>
  <%= @article.title %><br>
</p>
 
<p>
  <strong>text:</strong>
  <%= @article.text %><br>
</p>
 
<%= link_to 'Back', articles_path %>
<%= link_to 'Edit', edit_article_path %>
